html {
  font-size: 62.5%; }
body {
  margin: 0;
  background-color: rgba(114, 37, 168, 0.585);
  min-height: 100vh;
  display: flex;
  flex-direction: column; }
main {
  flex: 1;
  display: flex;
  justify-content: center; }
footer {
  padding: 10px; }


section {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;}
#lettreATrouver {
  font: 900 2rem sans-serif;}


#coups {
  color: aqua;
  font: 100 1.4rem sans-serif;}

.header-div {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center; }
h1 {
  font: 900 5rem sans-serif; }

#clavier {
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;}
  .alpha {
    width: 5rem;
    height: 5rem;
    background-color: lightgray;
    border: 0.2rem solid #ffff00;
    border-radius: 1rem;
    display: inline-block;
    text-align: center;
    line-height: 5rem;
    cursor: pointer;
    margin: 0.5rem;
    cursor: pointer;
    font-size: large;}
  .alpha:hover {
    background-color: rgb(195, 161, 161);}
  
